PORT=3000
CASHFREE_APP_ID_SANDBOX=YOUR_SANDBOX_APP_ID
CASHFREE_SECRET_KEY_SANDBOX=YOUR_SANDBOX_SECRET_KEY
CASHFREE_APP_ID_PRODUCTION=YOUR_PRODUCTION_APP_ID
CASHFREE_SECRET_KEY_PRODUCTION=YOUR_PRODUCTION_SECRET_KEY
